body {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(270deg, #e3f2fdab, #42a4f5b6);
    display: flex;
    flex-direction: column;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

form>input {
    background-color: rgba(255, 255, 255, 0);
}

/* header */
.header {
    margin: 0% 2% 4% 2%;
    display: flex;
    justify-content: space-between;
}

#asiet_logo {
    height: 160px;
    width: auto;
}

.accredition {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-top: 30px;
    flex-shrink: 4;
}

.accredited_by {
    width: auto;
    height: 40px;
}

/* main content */
.main_content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.features {
    background-color: rgba(255, 255, 255, 0.651);
    width: 40%;
    font-size: 1em;
    box-shadow: 0px 18px 25px #3b81bbad;
}

#feature_h2 {
    margin-left: 8%;
    font-family: 'Noto Serif Ethiopic', serif;
}

ul {
    list-style: none;
    font-weight: 100;
}

li::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-image: url("icons_res/feature_star.svg");
    margin-right: 5px;
    align-self: baseline;
}

.login_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 330px;
}

.login,
.login_with,
.features {
    border-radius: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.678);
    font-family: 'Lexend', sans-serif;
    min-width: 290px;
}

form {
    margin: 0 4% 0 4%;
}

.login>h2 {
    text-align: center;
    color: #3124e3;
}



.help_pass {
    text-decoration: none;
    text-align: center;
    margin: 3% 0;
    font-size: .8em;
    color: #0458f5;
}

input {
    max-width: 300px;
    min-width: 250px;
    margin-bottom: 10%;
    padding: 0 0 3% 0;
    border: none;
    border-bottom: solid 2px #979fad;
    outline: 0;
    font-family: inherit;
    font-size: .9em;
}

input:focus {
    border-bottom: solid 2px black;
}

.thirdparty_login {
    display: flex;
    justify-content: space-between;
    min-width: 290px;
}

.eye {
    position: absolute;

}

.eye_child {
    height: 20px;
    width: auto;
}

#eye_v {
    display: none;
}

.logo {
    width: 40px;
    height: auto;
}

#linkedin {
    width: 42px;
}

.login_with {
    background-color: rgba(255, 255, 255, 0.808);
    margin-top: 2%;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    
}

.login_with>a {
    line-height: 0;
}

/* footer */









/* breakpoints */
@media(max-width: 1470px) {
    .features {
        font-size: .8em;
    }
}

@media(max-width: 1170px) {
    .main_content {
        flex-direction: column-reverse;

    }

    .features {
        width: 65%;
        margin-bottom: 5%;
        margin-top: 10%;
    }
}

@media(max-width: 560px) {
    .features {
        width: 85%;
        margin-top: 10%;
    }
}

@media(max-width:500px) {
    .header {
        justify-content: center;
    }

    .accredition {
        display: none;
    }
}